body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 600px;
    position: relative;
}

/* class pra cor de fundo */
.bck-color {
    height: 600px;
    background-color: rgba(112, 80, 131, 0.5);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}
.logo{
    transition: 1s;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 4;
    transition: 0.5s;
}

#adote_mobile, #pag_mobile{
    width: 100%;
}
a:hover li{
    color: #E6CDF5;
    transition: 0.5s;
}

.cont-ini {
    height: 90px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 650px;

    & figure {
        margin: 20px 0;
    }

    & .logo{
        width: 70px;
        height: 70px;
    }

    & ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & #pag,
        #adote {
            margin-inline-end: 70px;
            font-size: larger;
            color: #fff;
            cursor: pointer;
        }

        & .doe-agora {
            background-color: #5b337abb;
            border: solid 2px #5b337abb;
            padding: 13px;
            width: 130px;
            border-radius: 15px;
            font-family: 'montserrat', sans-serif;
            font-size: large;
            font-weight: 400;
            transition: 100ms;
            color: #E6CDF5;
            & a {
                text-decoration: none;
                color: #E6CDF5;
            }
        }

        & .doe-agora:hover {
            background-color: #5b337ab3;
            color: #fff;
            border: solid 2px #886DA4;
            cursor: pointer;
        }

    }

    & .tabler--menu-2 {
        display: none;
    }
}

.destaque {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 180px auto;

    & h1 {
        color: #E6CDF5;
        font-size: xxx-large;
        font-weight: 800;
        margin: 30px auto 0;
    }

    & p {
        color: #ebdaf3;
        text-align: center;
        font-size: larger;
    }
}

#click-nav_pag {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-size: medium;

    display: none;

    & ul {
        list-style: none;
        background-color: #5b337a;
        width: 150px;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        margin: 0;

        & .links {
            padding: 10px 5px;
            cursor: pointer;

            & a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.ul_mobile {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #5b337a;
    margin: 0;
    border-radius: 20px;
    padding: 0 !important;
    text-align: center;
    width: 100%;
}

#click-nav_adote {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-size: medium;

    display: none;

    & ul {
        list-style: none;
        background-color: #5b337a;
        width: 100px;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        margin: 0;

        & li {
            padding: 10px 5px;
            cursor: pointer;

            & a {
                text-decoration: none;
                color: #fff;
                transition: 100ms;
            }
        }
    }
}

/* hover NavMenu.. */
.cont-ini ul #pag:hover #click-nav_pag {
    display: block;
    position: absolute;
    margin-left: -50px;
}

.cont-ini ul #pag:hover #click-nav_pag ul {
    display: block;
    margin-top: 10px;
}

.cont-ini ul #pag:hover #click-nav_pag ul .links {
    width: 150px;
}

.cont-ini ul #pag:hover #click-nav_pag ul .links a:hover {
    color: #E6CDF5;
}

.cont-ini ul #adote:hover #click-nav_adote {
    display: block;
    position: absolute;
    margin-left: -30px;
}

.cont-ini ul #adote:hover #click-nav_adote ul {
    display: block;
    margin-top: 10px;
}

.cont-ini ul #adote:hover #click-nav_adote ul .links a:hover {
    color: #E6CDF5;
}

/* !! */

/* navbar mobile */
.close {
    display: none;
}

.links-lista{
    background-color: #E6CDF5;
    color: #563377;
    border-radius: 20px;
}

#pag_mobile,
#adote_mobile {
    font-size: larger;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    color: #fff;

    & p {
        padding: 10px;
        margin: 0 0 15px 20px;
    }

    & .links-mobile {
        font-weight: 400;
        padding: 10px;
    }
}
.open {
    display: block;
}
.nav-menu_mobile {
    width: 100%;
    justify-content: space-around;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.mobile {
    width: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .tabler--menu-2 {
        margin: 20px 20px 20px 0px;
    }
    
    & .nav-menu_mobile {
        width: 100%;
        & ul {
            width: 100%;
            display: block;

            & #pag_mobile,
            #adote_mobile {
                font-size: larger;
                font-family: 'montserrat', sans-serif;
                font-weight: 500;
                cursor: pointer;
                margin: 0;
                color: #fff;

                & p {
                    margin: 0 0 15px;
                }
    
                & .links-mobile {
                    font-weight: 400;
                    padding: 3px;
                }
            }
                & a {
                    text-decoration: none;
                    color: #E6CDF5;
                }
            }
    
            & .doe-agora_mobile:hover {
                color: #fff;
                border: solid 2px #886DA4;
                cursor: pointer;
            }
    
            & #pag_mobile {
                & #click-nav_pag_mobile {
                    display: none;
                    width: 150px;
                    height: 100px;
                    font-family: 'montserrat', sans-serif;
                    font-size: small;
    
                    & a {
                        color: #fff;
                        text-decoration: none;
                    }
    
                    & a:hover {
                        color: #E6CDF5;
                    }
                }
            }
    
            & #adote_mobile {
                & #click-nav_adote_mobile {
                    display: none;
                    width: 150px;
                    height: 70px;
                    font-family: 'montserrat', sans-serif;
                    font-size: small;
    
                    & a {
                        color: #fff;
                        text-decoration: none;
                    }
    
                    & a:hover {
                        color: #E6CDF5;
                    }
                }
            }
        }
    }


.doe-agora_mobile{
        margin: 20px;
        margin-top: 10px;
        background-color: #E6CDF5;
        border: solid 2px #5b337abb;
        padding: 8px;
        width: 150px;
        border-radius: 15px;
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        transition: 250ms;
        color: #5b337a;
    }   

footer {
    background-color: #563377;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .conteiner {
        display: flex;
        width: 1440px;
        border-bottom: 2px solid #fff;
        margin: 20px auto;
        justify-content: space-between;

        & .cont1 {
            width: 550px;

            & .redes {
                display: flex;
                align-items: center;
                border-bottom: 2px solid #fff;
                gap: 50px;
                padding: 10px 0;

                & .redes-links {
                    display: flex;
                    flex-direction: column;

                    & a {
                        color: #fff;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        font-size: large;
                        font-weight: 500;
                        margin: 5px 0;

                        & span {
                            margin-right: 10px;
                        }
                    }

                    & a:hover{
                        color: #E6CDF5;
                    }
                }
            }

            & .redes-endereco {
                text-align: center;
                font-size: large;
                font-weight: 500;
                margin: 0;
                padding: 20px 0;
            }
        }

        & .cont2 {
            display: flex;


            & .cont2-lista {
                list-style: none;
                height: 150px;
                margin: auto;
                margin-bottom: 80px;

                & .titulo {
                    margin: 0 0 20px 0;
                    width: 250px;
                }

                & .link-rdp {
                    margin: 10px 0 0 10px;
                    font-size: large;

                    & a {
                        text-decoration: none;
                        color: #fff;
                        transition: 100ms;
                    }

                    & a:hover {
                        color: #E6CDF5;
                    }
                }
            }
        }

    }

    & .direitos {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 1440px) {
    .cont-ini {
        width: 1200px;
        gap: 500px;
    }

    footer {
        & .conteiner {
            width: 1200px;
            justify-content: center;
            gap: 50px;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .cont-ini {
        width: 800px;
        gap: 0;
        margin: auto;

        & .tabler--menu-2 {
            display: none;
        }
    }

    footer {
        & .conteiner {
            width: 800px;
            justify-content: space-between;

            & .cont1 {
                width: 340px;

                & .redes {
                    gap: 0;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 20px 0;

                    & .redes-links {
                        & a {
                            font-size: small;
                        }
                    }

                }

                & .redes-endereco {
                    font-size: small;
                    width: 200px;
                    margin: auto;
                }

            }

            & .cont2 {
                & .cont2-lista {
                    padding: 0;

                    & .titulo {
                        width: 150px;
                        font-size: larger;

                    }

                    & .link-rdp {
                        width: 150px;
                        font-size: medium;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
   
    .cont-ini {
        width: 600px;
        margin: 10px auto;
        align-items: normal;
        height: 60px;

        & .nav-menu {
            display: none;
        }

    }
    
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }

    & figure {
        margin: 0 !important;
    }

    & .logo{
        width: 60px !important;
        height: 60px !important;
    }
    
    
    .destaque{
        width: 500px;
    }

    .mobile {
        display: flex;

        & .tabler--menu-2 {
            display: block;
            width: 2em;
            height: 2em;
        }
    }

    & .tabler--menu-2:hover {
        background-color: #E6CDF5;
    }

    footer {
        & .conteiner {
            width: 600px;
            gap: 0;

            & .cont1 {
                width: 250px;

                & .redes {
                    margin: auto;
                }
            }

            & .cont2 {
                gap: 20px;

                & .cont2-lista {

                    & .titulo {
                        width: 140px;
                        font-size: larger;

                    }

                    & .link-rdp {
                        width: 120px;
                        font-size: medium;
                    }
                }
            }
        }

        & .direitos {
            font-size: small;
        }
    }
}

@media screen and (max-width: 600px) {
    .cont-ini {
        width: 400px;
        margin: 10px auto;
        align-items: normal;

        & .nav-menu {
            display: none;
        }

    }
    
    .destaque{
        width: 400px;

        & p {
            font-size: medium;
        }
    }

    .mobile {
        display: flex;

        & .tabler--menu-2 {
            display: block;
            width: 2em;
            height: 2em;
        }
    }

    & .tabler--menu-2:hover {
        background-color: #E6CDF5;
    }

    footer {
        & .conteiner {
            margin: 0 auto;
            height: 550px;
            display: block;
            width: 400px;
            gap: 0;
            justify-items: center;

            & .cont1 {
                width: 250px;
                margin-bottom: 40px;

                & .redes {
                    margin: auto;
                }
            }

            & .cont2 {
                gap: 20px;

                & .cont2-lista {
                    margin: 0;

                    & .titulo {
                        width: 140px;
                        font-size: larger;

                    }

                    & .link-rdp {
                        width: 120px;
                        font-size: medium;
                    }
                }
            }
        }

        & .direitos {
            width: 280px;
            text-align: center;
            margin: 10px;
            font-size: small;
        }
    }
    .images-nav{
        display: flex;
    }
}

@media screen and (max-width: 440px) {


    .cont-ini {
        width: 300px;
        margin: 10px auto;
        align-items: normal;

        & .nav-menu {
            display: none;
        }

    }
    
    .destaque{ 
        margin-top: 180px !important;
        text-align: center;
        width: 280px;
    }

    .mobile {
        display: flex;

        & .tabler--menu-2 {
            display: block;
            width: 2em;
            height: 2em;
        }
    }

    & .tabler--menu-2:hover {
        background-color: #E6CDF5;
    }

    footer {
        & .conteiner {
            margin: 0 auto;
            height: 550px;
            display: block;
            width: 300px;
            gap: 0;
            justify-items: center;

            & .cont1 {
                width: 250px;
                margin-bottom: 40px;

                & .redes {
                    margin: auto;
                }
            }

            & .cont2 {

                & .cont2-lista {
                    margin: 0;

                    & .titulo {
                        width: 140px;
                        font-size: larger;

                    }

                    & .link-rdp {
                        width: 120px;
                        font-size: medium;
                    }
                }
            }

            & .direitos {
                font-size: x-small;
            }
        }
    }
}






/* Icone de paginas e adote */
.formkit--down {
    display: inline-block;
    width: 1.5em;
    height: 0.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 7'%3E%3Cpath fill='%23000' d='M8 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5c-.2-.2-.2-.51 0-.71s.51-.2.71 0l4.15 4.15l4.14-4.14c.2-.2.51-.2.71 0s.2.51 0 .71l-4.5 4.5c-.1.1-.23.15-.35.15Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* Incone instagram */
.mdi--instagram {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* Icone email */
.material-symbols--mail-outline {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* Icone de menu para mobile */
.tabler--menu-2 {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16'/%3E%3C/svg%3E");
    background-color: #fff;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}